.nav{
    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .logo{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    &-link{
        color: #fff;
        text-decoration: none;
        
    }

}
.v-toolbar__content{
    justify-content: center;
}
